html {
    font-size: 18px; 
    font-family: Georgia, 'Times New Roman', Times;
    color: gray; 
    box-sizing: border-box;  
}

p, a, h1, h2, h3, h4, h5, h6 {
    color: gray;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    height: 64px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header .content {
    height: 100%;
}

header .mobile {
    display: none;
}

header .logo {
    flex: 1;
    margin-left: 24px;
    height: 32px;
}

header .logo .text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 26px;
    display: relative;
    top: 50%;
    transform: translateY(-25%);
}

header .logo span {
    color:black
}

header nav {
    margin-right: 24px;
}

header nav a {
    padding-left: 16px;
}




